.report{
  display: flex;
  justify-content: center;
  width: 90%;
  left: 5%;
  position: relative;
  margin-top: 2rem;
  margin-bottom: 2rem;
  #questionReportForm{
    display:none;
  }

  #lessonReportForm{
    display:none;
  }

  #tacticReportForm{
    display:none;
  }

  &--textarea{
    height:150px;
    width:300px;

    @mixin atMedium{
      width:600px;
      height:400px;
    }

    @mixin atLarge{
      width:800px;
    }
  }
}
